# macOS
.DS_Store
._*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Editors
.vscode/
.idea/
*.swp

# Environment / secrets
.env
*.log